DATABASE_URL=postgresql://neondb_owner:npg_uOomzxEqKp49@ep-still-bread-ac85wt89-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
REDIS_URL=https://immune-ewe-6139.upstash.io
PORT=
JWT_SECRET=dev-secret
